<div class="bg-color"></div>
<section id="rooms">
    <h1>Select Your Next Stay</h1>
    <div  id="roomsGrid">
        <div>
            <img src="/img/sample-01.jpg">
            <h2>
                Feel at Home in the Rockies! Cozy Condo with Hot Pools Access
            </h2>
            <h3>
                $195 CAD/night
            </h3>   
        </div>
        <div>
            <img src="/img/sample-02.jpg">
            <h2>
                Cozy + Relaxing Banff Condo | Pristine Hot Pools Access!
            </h2>
            <h3>
                $146 CAD/night
            </h3>
        </div>
        <div>
            <img src="/img/sample-03.jpg">
            <h2>
                In Downtown Banff, Cozy Suite -2 Hot Pools, Sauna, and Steam Room!
            </h2>
            <h3>
                $136 CAD/night
            </h3>
        </div>
        <div>
            <img src="/img/sample-04.jpg">
            <h2>
                Lynx Cabin
            </h2>
            <h3>
                $179 CAD/night
            </h3>
        </div>
        <div>
            <img src="/img/sample-05.jpg">
            <h2>
                RENOVATED Banff Condo + Loft | Your Rocky Mountain Escape
            </h2>
            <h3>
                $129 CAD/night
            </h3>
        </div>
        <div>
            <img src="/img/sample-06.jpg">
            <h2>
                Blue Mountain Lodge
            </h2>
            <h3>
                $109 CAD/night
            </h3>
        </div>
    </div>
</section>