<div class="bg"></div>
<section id="form-outside">
    <form id="form" method="POST" action="">
        <h1>Dashboard</h1>
        <br>
        <br>
        <h2>Account successfully created</h2>
    </form>
</section>